# Created by https://www.gitignore.io/api/django
# Edit at https://www.gitignore.io/?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media
/static


#### PyCharm ####
.idea/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/portfolio-project.iml
.idea/workspace.xml
.idea/dataSources.xml
.idea/dataSources/



### OTHER ####
.DS_Store
